[submodule "external/include/glm"]
	path = external/include/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/include/stb"]
	path = external/include/stb
	url = https://github.com/nothings/stb
[submodule "external/include/imgui"]
	path = external/include/imgui
	url = https://github.com/ocornut/imgui
